/alloca.c
/alloca.in.h
/argp-ba.c
/argp-eexst.c
/argp-fmtstream.c
/argp-fmtstream.h
/argp-fs-xinl.c
/argp.h
/argp-help.c
/argp-namefrob.h
/argp-parse.c
/argp-pin.c
/argp-pv.c
/argp-pvh.c
/argp-xinl.c
/asnprintf.c
/basename-lgpl.c
/dirname.h
/dirname-lgpl.c
/dosname.h
/errno.in.h
/float.c
/float+.h
/float.in.h
/getopt1.c
/getopt.c
/getopt.in.h
/getopt_int.h
/getsubopt.c
/gettext.h
/intprops.h
/itold.c
/Makefile.am
/malloc.c
/memchr.c
/memchr.valgrind
/mempcpy.c
/printf-args.c
/printf-args.h
/printf-parse.c
/printf-parse.h
/rawmemchr.c
/rawmemchr.valgrind
/size_max.h
/sleep.c
/stdalign.in.h
/stdbool.in.h
/stddef.in.h
/stdint.in.h
/stdio.in.h
/stdlib.in.h
/strcasecmp.c
/strchrnul.c
/strchrnul.valgrind
/strerror.c
/strerror-override.c
/strerror-override.h
/string.in.h
/strings.in.h
/stripslash.c
/strncasecmp.c
/strndup.c
/strnlen.c
/sysexits.in.h
/sys_types.in.h
/unistd.c
/unistd.in.h
/vasnprintf.c
/vasnprintf.h
/verify.h
/vsnprintf.c
/wchar.in.h
/xsize.c
/xsize.h
